<!--Contact Starts-->
<div class="container contactform center">
<h2 class="text-center  wowload fadeInUp">Get in touch to start your project</h2>
  <div class="row wowload fadeInLeftBig">      
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
		<form role="form" class="form-horizontal" action="" method="post" novalidate>
		<fieldset>
			<input type="text" class="form-control" value="" name="name" id="name" placeholder="Name" required>
			<input type="text" class="form-control" value="" name="email" id="name" placeholder="Email" required>
			<textarea rows="5" class="form-control" value="" name="message" id="message" placeholder="Message" required minlength="5" data-validation-minlength-message="Min 5 characters" maxlength="999"></textarea>
			<button class="btn btn-primary" id="submit" type="submit"><i class="fa fa-paper-plane"></i> Send</button>
		</fieldset>
		</form>
      </div>
  </div>

</div>
<!--Contact Ends-->
