<!-- works -->
    <figure class="effect-oscar  wowload fadeIn">
        <img src="{{ 'assets/images/portfolio/1.jpg'|theme }}" alt="img01" />
        <figcaption>
            <h2>Nature</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/1.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/2.jpg'|theme }}" alt="img01" />
        <figcaption>
            <h2>Events</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/2.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/3.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>music</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/3.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/4.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>Vintage</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/4.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/5.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>Typers</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/5.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/6.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>hotel</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/6.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/7.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>Chinese</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/7.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/8.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>Dicrap</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/8.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/9.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>Coffee</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/9.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/10.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>cameras</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/10.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/11.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>design</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/11.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/12.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h2>studio</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{{ 'assets/images/portfolio/12.jpg'|theme }}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
<!-- works -->
